In [7]:
x=10
y=10
sum=lambda x,y:x+y
print(sum(x,y))

20

In [9]:
name = "Aarish"
age = 8

# Correct use of string formatting
print("Name= %s and Age= %d" % (name, age))

# To print "Anika" and 6 directly
print("Name= %s and Age= %d" % ("Anika", 6))

Name= Aarish and Age= 8
Name= Anika and Age= 6

In [11]:
a="annamalai is a boy"
b="a"
if b in a:
    print("yes")

yes

In [21]:
import numpy as np
a1=np.array([[[0,1,2,3]],[[1,2,2,2]]])
print(a1)

[[[0 1 2 3]]

 [[1 2 2 2]]]

In [29]:
a1.size

8

In [35]:
import numpy as np
a1=np.array([[0,1,2,3],[1,2,3,4]])
print(a1.shape)

(2, 4)

In [39]:
a3=[1,2,3]
b3=[1,2,3]
print(a3+b3)

[1, 2, 3, 1, 2, 3]

In [49]:
import numpy as np
a1=np.array([0,1,2,3,1,2,3,4])
print(a1[1:3])

[1 2]